spring:
  application:
    name: First-application
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/ecole221sup_db
    username: javapost
    password: password
    # JPA properties
    jpa:
      hibernate:
        ddl-auto: update # When you launch the application for the first time - switch "none" at "create"
      show-sql: true
      database: postgresql
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      open-in-view: false
      generate-ddl: true
  server:
    port: 8081